---
import type { Note } from "../types/types";

interface Props {
  notes: Note[];
}

const { notes } = Astro.props;
---

<div class="text-center text-sm">
  {
    // prettier-ignore
    notes.map((note) =>
      <div>
        <sup>{note.symbol}</sup>{note.text}
      </div>
    )
  }
</div>
